/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--main-font);
}

.header {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  margin: 5px 0 22px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
  border-color: var(--border-color);
}

.decorated-zone::before {
  right: 9px;
  top: 2px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.decorated-zone::after {
  bottom: 18px;
  left: 10px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  
}

.header__decorative-text {
  display: flex;
  position: absolute;
  top: 4px;
  right: 36px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__decorative-text::after {
  display: flex;
  content: "";
  position: absolute;
  top: 0.625rem;
  right: -20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

/* МЕНЮ */
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-top: 4px;
  margin-right: 8px;
  color: var(--decor-color);
}

.header__theme-menu-item {
  word-spacing: 10px;
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 8px;
  letter-spacing: 0;
  text-align: center;
  border-color: transparent;
}


.header__theme-menu-button {
  outline-color: inherit;
  border: 1px solid transparent;
  background-color: inherit;
  color: var(--title-text-color);
  padding: 8px 13px;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color);
  transition: border-color 0.3s ease;
}

.header__theme-menu-button:disabled {
  pointer-events: none;
  cursor: not-allowed;
} 

.header__theme-menu-button:focus {              
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}


.header__theme-menu-button_type_dark {
  border: 1px solid var(--border-color);
}

/* НИЖНЯЯ ЧАСТЬ ШАПКИ */
.header__title {
  grid-row: 2;
  align-self: center;
  justify-self: center;
  color: var(--title-color);
  font-family: var(--main-font);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  margin-left: 12px;
  margin-bottom: 14px;
}

.header___description {
  justify-self: center;
  align-self: self-start;
  width: 355px;
  position: relative;
  top: 41px;
}

.header__description-text {
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  font-weight: 700;
  color: var(--background-color);
}

.header__description-decoration {
  background-color: var(--decor-color);
}

/* CONTENT */

.content__section {
  padding-bottom: 50px;
  width: 100%;
  justify-self: center;
}

.content__section-title {
  font-size: 18px;
  color: var(--title-text-color);
  position: relative;
}

.title-decor {
  background-color: var(--decor-color);
  height: 23px;
}

.content__section-list {
  margin-top: 24px;
  line-height: 23.4px;
}

.content__section_why {
  padding-top: 8px;
}

.content__section-list-item {
  padding-bottom: 20px;
}

.content__section-list-item-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--title-decor-color);
}

.content__section-text {
  padding-bottom: px;
  font-size: 18px;
  color: var(--text-color);
}

.content__link {
  color: var(--text-color);
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.content__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content__link:focus {
  border: 1px solid var(--text-color);
}

.content__link:focus-visible {
  outline: none;
}

.main_content__section {
  position: relative;
  bottom: 22px;
}

.how_content__section {
  position: relative;
  bottom: 44px;
}

.content__section-article-title {
  color: var(--background-color);
  line-height: 23.4px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
}

.content__section-list-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--background-color);
}

.content__section-list-item_how {
  padding-top: 10px;
}

.content__section-text_how {
  padding-top: 10px;
  font-size: 18px;
  color: var(--text-color);
}
.content__section-list-item-title_how {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 400;
  color: var(--title-decor-color);
}

/* IMAGES */
.content__section-title_gallery {
  color: var(--background-color);
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 23.4px;
  margin-top: -20px;
}

.content__images-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.content__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer-title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--text-shadow);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* MEDIA 768 */
@media (width >= 768px) {
  
  .header
  .footer {
    max-inline-size: 1024px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
    position: relative;
    top: 6px;
    right: 10px;
  }

  .header___description {
    justify-self: end;
    margin-top: 110px;
    margin-right: 20px;
    min-inline-size: 364px;
    justify-content: space-between;
  }

  .header__theme-menu {
    position: relative;
    right: 10px;
    top: 6px;
    justify-self: flex-end;
  }

  .header__decorative-text {
    right: 50px;
    top: 14px;
  }

  .decorated-zone::before {
    right: 22px;   
    top: 15px;
  }

  .decorated-zone::after {
    bottom: 25px;
    left: 20px;
  }

  .main {
    padding: 0 20px;
    gap: 80px;
    padding-block: 0px;
  }

  .content__section {
    align-items: start;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-inline: 20px;
    width: 100%;
  }

  .main_content__section {
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: 20px;
    width: 100%;
    align-content: start;
    margin-block-start: 10px;
  }

  .main__title {
    width: 236px;
  }
  
  .content__section-title {
    grid-column: 1;
    justify-self: start;
    align-self: start;
    margin: 0;
    margin-block-start: 20px;
  }

  .how_content__section {
    padding-block: 14px;
  }
  
  .content__section-images {
    width: 100%;
    padding-inline: 20px;
    box-sizing: border-box;
    padding-block-start: 10px;
  }

  .content__images-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
    padding-top: 0px;
  }

  .sunset_img {
    grid-column: 1/3;
    grid-row: 1/2;
    object-fit: cover;
  }

  .ice-cream_img {
    grid-column: 3/4;
    grid-row: 1/3;
    object-fit: cover;
  }

  .tape_img {
    grid-column: 1/2;
    grid-row: 2/4;
    object-fit: cover;
  }

  .books_img {
    grid-column: 2/3;
    grid-row: 2/3;
    object-fit: contain;
  }

  .street_img {
    grid-column: 2/4;
    grid-row: 3/4;
    object-fit: cover;
  }

  .footer {
    margin-block-start: 60px;
  }

  .footer-title {
    margin-block-start: 25px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
    align-self: center;
} 
}

/* MEDIA 1024 */
@media (width >= 1024px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 28px;
    margin-block-end: initial;
    margin-block-start: 8px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header___description {
    justify-self: flex-end;
    margin-inline-end: 20px;
    inline-size: 491px;
    margin-block-start: 5px;
    align-self: start;
  }

  .header__decorative-text {
    right: 50px;
    top: 14px;
  }

  .decorated-zone::before {
    right: 22px;   
    top: 15px;
  }

  .decorated-zone::after {
    bottom: 25px;
    left: 20px;
  }

  .main_content__section {
    padding-inline: 20px;
  }

  .main__title {
   width: 100%;
   max-width: 315px;
  }

  .main_content__section-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .main_content__section-list-item {
    max-inline-size: calc(1 / 3 * (100vw - 60px));
    line-height: 23.4px;
    
  }

  .section__list__container {
    margin-block-start: 19px;
    gap: 0;
  }

  .how_content__section {
    margin-block-start: 45px;
    width: 100%;
  }

  .div {
    width: 100%;
    padding-inline-end: 10px;
  }
  
  .content__section-images {
    width: 100%;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}