/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(/images/cover-image-dark.png);
  --background-color: #000028;
  --decor-color: #FF0070;
  --title-decor-color: #000028;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --main-font: "IBM Plex Mono", monospace;
  --accent-color: #FF0070;
}